html,body {
	margin:0;
	padding:0;
	height: 100%;
	width: 100%;
}
html{
	background-color: lightgrey;
	color: #383838;
}
body{
	min-height:100%;
	height:auto;
	width:100%;
}
.document {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

div.play{
	width: 500px;
	height: 500px;
}
section{	/*Top padding*/
	padding-top:47px;
}

